

.carousel-section{
  width: 100%;
  margin: 0;
  padding: auto;
  z-index: 1000;
  /* height: 200px; */
}

.flag-carousel-item{
  /* width: 15%; */
  width: 60% !important;
  margin: 5rem;
  outline: none;
  transition: 0.2s;
}

.flag-carousel-item:hover{
  cursor: pointer;
  width: 70% !important;
}

.large{
  display: block;
}

.small{
  display: none;
}

#sliding-wrapper{
  display: none;
}

.slide-down{
  animation: slideMe .5s ease-in;
}



@keyframes slideMe{
  0%{
    transform: translateY(-500px);
  }
  100%{
    transform: translateY(0px);
  }
}

.flag-image{
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 5%;
  outline: none;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

@media screen and (max-width: 700px) {
  .large{
    display: none;
  }

  .flag-carousel-item{
    width: 80% !important;
    margin:2rem;
  }

  .small{
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .flag-carousel-item{
    width: 90% !important;
    margin:2rem;
  }

}