.sliding-wrap{
    padding: 2rem;
    background: #373443;
  text-align: center;
  padding: 5rem 0;
  overflow: hidden;
  transition: all 1s ease;
  width: 100%;
}



.circle{
    position: absolute;
  width: 400px;
  height: 400px;
  left: 0;
  background: #15562d;
  filter: blur(180px);
  z-index: 0;
  margin: 0;
  padding: 0;
}

.circleTwo{
    position: absolute;
  width: 400px;
  height: 400px;
  /* right: -13rem;
  top: 86px; */
  right: 0;
  background: #15562d;
  filter: blur(180px);
  z-index: 0;
}

.slider2-item-div{
    margin: 0 1rem;
    padding: 0;
    border-radius: 5%;
    /* width: 200px !important; */
    height: 360px;
    justify-content: center;
    overflow: hidden;
    outline: none;
    border: none;
    
}

.slider2-img, .overlay, .overlay-text{
    position: absolute;
    margin: 0;
    padding: 0;
}

.slider2-img{
    border-radius: 5%;
    cursor: pointer;
}

.overlay{
    border-radius: 5%;
    top: 50px;
    position: relative;
    left: 20px;
    width: 250px;
    height: 370px;
    z-index: -1;
}

.overlay-text{
    text-align: left;
    margin: 10px;
    top: 13rem;
}

.overlay-text h2{
    font-size: 1.3rem;
}

.overlay-text p{
    font-size: 1rem;
}

.large{
    display: block;
}

.small{
    display: none;
}

@media screen and (max-width: 600px) {
    .large{
        display: none;
    }

    .small{
        display: block;
    }

    .overlay-text h2{
        font-size: 22px;
    }
    
    .overlay-text p{
        font-size: 16px;
    }

    .overlay-text{
        top: 8rem;

    }

    .slider2-item-div{
        height: 300px !important;
    }

    .sliding-wrap{
        padding: 2.5rem 0 !important;
    }

    .slider2-img{
        width: 7% !important;
    }

    .circle,.circleTwo{
        width: 200px;
        filter: blur(250px);
    }
}

@media screen and (max-width: 480px) {

    .overlay-text h2{
        font-size: 15px;
    }

    .overlay{ 
        width: 150px !important;
        height: 150px !important;
        top: 70px;
        left: 0px;
        z-index: -1;
        
    }
    
    .overlay-text p{
        font-size: 14px;
    }

    .overlay-text{
        top: 4rem;

    }

    .slider2-item-div{
        height: 200px !important;
    }
}

@media screen and (max-width: 375px) and (min-width: 320px) {
    .overlay-text h2{
        font-size: 14px;
    }

    .overlay{ 
        width: 130px !important;
        height: 150px !important;
        top: 42px;
        left: 0px;
        z-index: -1;
        
    }
    
    .overlay-text p{
        font-size: 12px;
    }

    .slider2-item-div{
        height: 180px !important;
    }
}

@media screen and (max-width: 320px) {
    .overlay-text h2{
        font-size: 12px;
    }

    .overlay{ 
        width: 110px !important;
        height: 150px !important;
        top: 15px;
        left: 0px;
        z-index: -1;
        
    }
    
    .overlay-text p{
        font-size: 9px;
    }

    .slider2-item-div{
        height: 150px !important;
    }
}
